.foot {
    background: #CBD5F0;
    padding: 20px 0px 8px 0px;
  }

.right {
    float: right;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 300px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
    }

.headshot-img {
    width:200px;
    height:200px;
    border-radius:50%;
  }